/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Styles */

body {
  display: flex;
  justify-items: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.toDoContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  background-color: red;
  width: 400px;
  height: 40px;
}

.toDoCheckBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
}

.toDoCheckBox {
  width: 17.5px;
  height: 17.5px;
  /* border-radius: 5px;
  border: 3px solid black;
  background-color: #fff;
  appearance: none; */
}

.toDoTitleContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 60%;
  height: 100%;
}

.toDoTitle {
  text-align: center;
}
