/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Styles */

body {
  display: flex;
  justify-items: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.toDoContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  background-color: red;
  width: 825px;
  height: 50px;
}

.toDoContainer:hover {
  box-shadow: -5px 5px 5px grey, 5px 5px 5px grey;

  transform: scale(1.01);
  transition: 0.3s;
}

.toDoCheckBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  flex: 0 0 5%;
}

.toDoCheckBox {
  position: absolute;
  opacity: 0;
}

.toDoCheckBoxSpan {
  position: absolute;
  width: 17.5px;
  height: 17.5px;
  border-radius: 5px;
  border: 3px solid green;
  background-color: white;
}

.toDoCheckBox:checked + .toDoCheckBoxSpan::after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46.25%);
  font-size: 15px;
  font-weight: 900;
  color: green;
}

.toDoTitleContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  height: 100%;
  flex: 1;
}

.toDoTitle {
  font-size: 1.4rem;
}

.toDoTitle.completed {
  text-decoration: line-through;
  opacity: 60%;
}

.toDoTitle.completed,
.toDoDescriptionBtn.completed,
.toDoDate.completed,
.toDoEditBtn.completed,
.toDoDeleteBtn.completed {
  opacity: 60%;
}

.toDoInformationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  margin-left: auto;
  gap: 60px;
}

.toDoDescriptionBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}

.toDoDescriptionBtn {
}

.toDoDateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

.toDoDate {
}

.toDoEditAndDeleteBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 8%;
  margin-left: auto;
  gap: 20px;
  margin-right: 15px;
}

.toDoEditBtnContainer,
.toDoDeleteBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 5%; */
  height: 100%;
}

.toDoEditBtn,
.toDoDeleteBtn {
  width: 17.5px;
  height: 17.5px;
}
